:root {
    font-size: 16px;

    --green: #26a69a;
    --green-light: #44c4b8;
    --green-s: #0abb87;
    --grey-light: #495057;
    --grey-1: #969696;
    --yellow: #ffb822;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
}

a,
ul,
li {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul,
li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

small {
    font-size: 80%;
    font-weight: 400;
}

h5 {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Helpers */

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.align-centre {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.relative {
    position: relative;
}

.t-pr {
    color: var(--green);
}

.t-m {
    color: #6c757d !important;
}

.t-centre {
    text-align: center !important;
}

.j-centre {
    justify-content: center !important;
}

.mt4 {
    margin-top: 1.5rem !important;
}

.mb4 {
    margin-bottom: 1.5rem !important;
}

.sep {
    margin-bottom: 1rem;
}

/* Custom checkbox */
.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox span {
    display: block;
    width: 35px;
    height: 18px;
    background-color: transparent;
    border-radius: 999px;
    border: 1px solid #ADB5BD;
    position: relative;
}

.checkbox span:before {
    content: '';
    width: 13px;
    height: 13px;
    background-color: #ADB5BD;
    position: absolute;
    top: 1.5px;
    left: 3px;
    border-radius: 100%;
    transition: all 300ms cubic-bezier(0.2, 0.79, 0.44, 1);
}

.checkbox input {
    position: absolute;
    opacity: 0;
}

.checkbox input:checked+span {
    background-color: var(--green);
}

.checkbox input:checked+span:before {
    background-color: #fff;
    left: calc(100% - 15px);
}
/* //checkbox */

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.cover {

    background-color: rgba(0,0,0,.2);
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    bottom: 0;
    top: 60px;
    display: none;
}
.cover.cactive {
    display: block;
}

/* Main Styles */
header {

    height: 3.75rem;
    background-color: var(--green);
    padding: 0 1.5rem;
    justify-content: space-between;
    z-index: 10;
}

header .left-sec {
    background: var(--green-light);
    margin: -1.563rem;
    width: 28.125rem;
    height: 100%;
    padding-left: 1.563rem;
}

header .logo {
    align-items: center;
}

header .logo>img {
    width: 2.5rem;
}

header .logo span {
    font-weight: 700;
    color: #fff;
    margin-left: .5rem;
    font-size: 21px;
}

header .right-sec {
    width: calc(100% - 28.125rem);
    justify-content: space-between;
}

.profile span {
    margin-right: .5rem;
    color: #fff;
}

.profile img {
    display: inline-block;
    margin-bottom: 0;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
}

#app {
    height: calc(100vh - 60px);
}

.container {
    flex: 1;
}

.chats-sidebar {
    background: #fff;
    overflow: hidden;
    width: 28.125rem;
    flex-direction: column;
}

.chats-sidebar-header {

    justify-content: space-between;
    padding: 0 1.563rem;
    height: 5rem;
    font-weight: 700;
    border-radius: 0;
}

.chats-search {
    padding: .5rem 1.5rem;
}

.input {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border-radius: .5rem;
    font-size: 14px;
    border: 2px solid #ddd;
    font-weight: 400;
    outline: 0;
    line-height: 1.5;
    color: var(--grey-light);
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:focus {
    outline: 0;
    box-shadow: none;
    border-color: var(--green) !important;
    color: var(--grey-light);
    background-color: #fff;
}

.chats-active {
    overflow: hidden;
    outline: none;
    touch-action: none;
    flex: 1;
    padding: 1.5rem;
    overflow-y: scroll;
    position: sticky;
}

/* Scroll bar for chats */
.chats-active::-webkit-scrollbar {
    width: 5px;
}

.chats-active::-webkit-scrollbar-track {
    background: inherit;
}

.chats-active:hover::-webkit-scrollbar-thumb {
    background: #DDDDDD;
    border-radius: 10px;
}

/* //scrollbar */

.chats-active .chats {
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.chats-active .chats .chat-item {
    position: relative;
    cursor: pointer;
    padding: 1rem 0;
    border: 1px solid rgba(0, 0, 0, .125);
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin-bottom: -1px;
}

.avatar-g,
.avatar-y {
    position: relative;
}

.avatar-g::before,
.avatar-y::before {
    content: "";
    position: absolute;
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    top: -2px;
    right: -2px;
    border: 3px solid #fff;
}

.avatar-g::before {
    background: var(--green-s);
}

.avatar-y::before {
    background: var(--yellow);
}

.chats-active .chats .chat-item .avatar {
    margin-right: 1rem;
    display: inline-block;
    margin-bottom: 0;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.family-chat {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
}

.chat-item .chat-item-body {
    flex: 1;
    min-width: 0;
}

.chat-sender-m {
    min-width: 0;
    flex-direction: column;
    flex: 1;
}

.chat-sender-m h5 {
    margin-top: 0;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .2rem;
    line-height: 1.2;
}

.chat-sender-m p {
    margin-top: 0;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
    color: var(--grey-1);
}

.chat-s-data {
    padding-left: 15px;
}

.chat-s-data .msg-count {
    width: 23px;
    align-items: center;
    justify-content: center;
    line-height: 0;
    font-size: 13px;
    height: 23px;
    background-color: var(--green);
    color: #fff;
    border-radius: 50%;
    margin-left: auto;
}

.active-item {
    position: relative;
}

.active-item::after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.chats-new {
    padding: 1rem !important;
}

.chats-new-btn {
    display: inline-flex;
    border-radius: .5rem;
    line-height: 14px;
    width: 100%;
    justify-content: center;
    background: var(--green);
    color: #fff;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    outline: 0;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.chats-new-btn:hover {
    outline: 0;
    transition: background .15s ease-in-out;
    background: #08887c;
    border-color: #08887c;
}

.chat-window {
    flex: 1;
    flex-direction: column;
    background-color: #ddd;
}

.chat-window .chat-messages {
    overflow: hidden;
    outline: none;
    touch-action: none;
    flex: 1;
    padding: 1.5rem;
    overflow-y: scroll;
    position: sticky;
}

/* chat messgaes scrollbar */
.chat-messages::-webkit-scrollbar {
    width: 5px;
}

.chat-messages::-webkit-scrollbar-track {
    background: inherit;
}

.chat-messages:hover::-webkit-scrollbar-thumb {
    background: rgba(66, 66, 66, 0.2);
    border-radius: 10px;
}

/* //chat messgaes scrollbar */
.chat-window .chat-messages .messages {
    flex-direction: column;
    align-items: flex-start;
}

.messages .msg {
    max-width: 65%;
    margin-bottom: 3rem;
    display: flex;
}

.messages .msg .msg-avatar {
    margin-right: 1rem;
    display: inline-block;
    margin-bottom: 0;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
}

.messages .msg .msg-msg {
    background-color: #fff;
    border-radius: .5rem;
    padding: .8rem;
}

.messages .msg .msg-time {
    color: #828282;
    margin-top: 5px;
    font-style: italic;
    font-size: 12px;
    text-align: right;
}

.messages .msg-in {
    margin-left: auto;
    flex-direction: row-reverse;
}

.msg-in .msg-avatar {
    margin-left: 1rem;
    margin-right: 0;
}

.msg-in .msg-msg {
    background-color: #2a2a2a !important;
    color: rgba(255, 255, 255, .9);
    display: table;
    margin-left: auto;
}

.double-tick {
    position: relative;
    top: 2px;
    color: #00bcd4 !important;
}

.chat-controls {
    padding: 1.5rem;
}

.chat-controls form {
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
}

.cc-button {
    outline: 0;
    display: inline-block;
    background: #e6e6e6;
    border-color: #e6e6e6;
    border: 1px solid transparent;
    color: #212529;
    position: relative;
    font-size: 14px;
    width: auto;
    padding: 9px 14px;
    border-radius: .5rem;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.cc-button svg {
    width: 16px;
    height: 16px;
}

.cc-button:hover {
    cursor: pointer;
    background: #c8c8c8;
    border-color: #c8c8c8;
}

.cc-btn-submit {
    background: var(--green);
    border-color: var(--green);
}

.cc-btn-submit:hover {
    background: #08887c;
    border-color: #08887c;
}

/* profile sidebar */
.profile-sidebar {

    position: fixed;
    right: 0;
    top: 60px;
    bottom: 0;
    z-index: 999;
    background: #fff;
    overflow: hidden;
    display: none;
    flex-direction: column;
    width: 350px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.ps-active {
    display: flex;
    animation: fade 0.5s;
}

.ps-scroll {
    position: static;
    overflow-y: scroll;
}

/* Scroll bar for profile */
.ps-scroll::-webkit-scrollbar {
    width: 5px;
}

.ps-scroll::-webkit-scrollbar-track {
    background: inherit;
}

.ps-scroll:hover::-webkit-scrollbar-thumb {
    background: #DDDDDD;
    border-radius: 10px;
}

/* //scrollbar */
.profile-sidebar .top-sec {
    justify-content: space-between;
    padding: 0 25px;
    min-height: 4rem;
    font-weight: 600;
   
}

.profile-sidebar .top-sec>span {
    font-size: 21px;
}

.profile-sidebar .top-sec .p-s-ts-btns {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.profile-sidebar .top-sec .p-s-ts-btns .ts-btn-item {
    margin-bottom: 0;
    margin-left: .5rem;
    display: inline-block;
}

.profile-sidebar .top-sec .p-s-ts-btns .ts-btn-item:not(:last-child) {
    margin-right: 0;
}

.btn-profile {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    width: auto;
    display: inline-flex;
    position: relative;
    padding: 9px 14px;
    border-radius: .5rem;
    line-height: 14px;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-profile svg {
    width: 16px;
    height: 16px;
}

.btn-p-light {
    background: 0 0;
    border-color: #e6e6e6;
    border-width: 1px;
    color: #212529;
}

.btn-p-light:hover {
    background: #e6e6e6;
    border-color: #e6e6e6;
    color: #212529;
}

.btn-p-d {
    color: #fff;
    background: #fd397a;
    border-color: #fd397a;
}

.btn-p-d:hover {
    background: #df1b5c;
    border-color: #df1b5c;
}

.profile-body {
    flex: 1;
    padding: 1.5rem;
    overflow: hidden;
    touch-action: none;
}

.profile-body .profile-img {
    display: inline-block;
    height: 6.1rem;
    width: 6.1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem !important;
}

.p-nav {
    margin-top: 3rem !important;
    border: none;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.p-nav .p-nav-link {
    display: block;
    margin: 0;
    border: none;
    color: #000;
    border-bottom: 2px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 10px 15px;
    padding-top: 0;
}

.p-nav-link-active {
    color: #26a69a !important;
    border-bottom-color: #26a69a !important;
}

.p-nav-content {
    padding-top: 30px;
}

.p-nav-t1 {
    display: none;
}

.p-nav-t2 {
    display: none;
}

.p-nav-t1 .s-icons {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
}
.p-nav-t1 .s-icons li {
    display: inline-block;
    margin: 0 .55em;
}
.p-nav-t1 .s-icons li a {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: var(--green);
    color: #fff;
    line-height: 36px;
    text-align: center;
    -webkit-transition: all 150ms ease, -webkit-transform 150ms ease;
    transition: all 150ms ease, -webkit-transform 150ms ease;
    transition: transform 150ms ease, all 150ms ease;
    transition: transform 150ms ease, all 150ms ease, -webkit-transform 150ms ease;
}
.p-nav-t1 .s-icons li a svg {
    fill: #fff !important;
    vertical-align: middle;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}
.p-nav-t1 .s-icons li a:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    background: transparent;
}
.p-nav-t1 .s-icons li a:hover svg {
    fill: var(--green) !important;
}
  

.p-nav-t-active {
    display: block;
    animation: fade 1s;
}

.p-nav-t2 .hd{
    justify-content: space-between;
}
.p-nav-t2 .hd > a {
    display: inline-flex;
    padding: 9px 14px;
    font-size: 14px;
    font-weight: 400;
    color: #007bff;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
}

.p-nav-t2 .hd > a svg {
    width: 16px;
    height: 16px;
    margin-right: .5rem !important;
}
.p-nav-t2 ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.p-nav-t2 .file-item {
    padding: 1rem 0;
    border: 1px solid #ebebeb;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--green);
   
}
.p-nav-t2 .file-item:first-child {
    border-top: 0;
}
.p-nav-t2 .file-item:last-child {
    border-bottom: 0;
}
.p-nav-t2 .file-item img {
    width: 16px;
    margin-right: .5rem;
}